body {
  width:500px;
  margin: auto;
  text-align: center;
}

dl {

}

dt {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
  background: #d9d9d9;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid white;
}

dd {
  margin: 0;
  padding: 1em 0;
}

.hide {
  display: none;
}
